In [1]:
import pandas as pd
from sqlalchemy import create_engine

from tqdm import tqdm
tqdm.pandas(desc="Processing...")

engine = create_engine("mysql+mysqlconnector://root:password123@localhost/dmdb")

query = "SELECT * FROM nltk_filtered_3_class"
df = pd.read_sql(query, engine)
print("df created")

df created

In [2]:
train_df=df[['comments_without_br', 'Sentiment']]
train_df=train_df.rename(columns={'comments_without_br':'text','Sentiment':'label'})

In [6]:
train_df.to_csv("airbnb_dataset")

In [7]:
df=pd.read_csv("airbnb_dataset.csv")

In [9]:
print(train_df[['text', 'label']].groupby(by='label').agg('count'))

         text
label
-1      13930
 0      71039
 1     790450