### BATCH INSERT
inserting dataset into MySQL Database

In [ ]:
import pandas as pd
import mysql.connector
from sqlalchemy import create_engine


try:
    connection = mysql.connector.connect(
        host='localhost',
        database='dmdb',
        user='root',
        password='password123'
    )

    if connection.is_connected():
        db_info = connection.get_server_info()
        print("Connected to MySQL Server version ", db_info)


        df = pd.read_csv("D:/Data Mining/project/dataset/archive/detailed_reviews.csv")
        df1=df[0:10]

        engine = create_engine("mysql+mysqlconnector://root:password123@localhost/dmdb")
 
        df1.to_sql(name='detailed_reviews_1', con=engine, if_exists='replace', index=False)

        print("Data inserted into MySQL table successfully!")

except mysql.connector.Error as e:
    print("Error connecting to MySQL", e)

finally:
    # Close database connection
    if connection.is_connected():
        connection.close()
        print("MySQL connection is closed")

In [ ]:
## Removing Non English words

In [6]:
import string
import nltk
from nltk.corpus import stopwords
from nltk.stem.porter import *

nltk.download('punkt')
nltk.download('stopwords')
# stemming tool from nltk
stemmer = PorterStemmer()
# a mapping dictionary that help remove punctuations
remove_punctuation_map = dict((ord(char), None) for char in string.punctuation)
def get_tokens(df_col):
  text=df_col['comments_without_br']
  # turn document into lowercase
  lowers = text.lower()
  # remove punctuations
  no_punctuation = lowers.translate(remove_punctuation_map)
  # tokenize document
  tokens = nltk.word_tokenize(no_punctuation)
  # remove stop words
  filtered = [w for w in tokens if not w in stopwords.words('english')]
  # stemming process
  stemmed = []
  for item in filtered:
      stemmed.append(stemmer.stem(item))
  # final unigrams
  return stemmed

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\rahul\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\rahul\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [7]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine("mysql+mysqlconnector://root:password123@localhost/dmdb")

query = "SELECT * FROM comments_in_english"
df = pd.read_sql(query, engine)
from tqdm import tqdm
tqdm.pandas(desc="Processing...")

df['comments_without_br'] = df.progress_apply(get_tokens,axis=1)

Processing...: 100%|██████████| 875419/875419 [1:43:56<00:00, 140.36it/s]

In [15]:
def joiner(df1):
    return " ".join(df1['comments_without_br'])

df['comments_without_br']=df.progress_apply(joiner,axis=1)

Processing...: 100%|██████████| 875419/875419 [00:04<00:00, 210041.16it/s]

In [16]:
print(df.head())

   listing_id       id        date  reviewer_id reviewer_name  \
0        2595    19760  2009-12-10        38960         Anita
1        2595    34320  2010-04-09        71130       Kai-Uwe
2        2595    46312  2010-05-25       117113        Alicia
3        2595  1238204  2012-05-07      1783688        Sergey
4        2595  1293632  2012-05-17      1870771          Loïc

                                            comments  \
0  I've stayed with my friend at the Midtown Cast...
1  We've been staying here for about 9 nights, en...
2  We had a wonderful stay at Jennifer's charming...
3  Hi to everyone!\r<br/>Would say our greatest c...
4  Jennifer was very friendly and helpful, and he...

                                 comments_without_br
0  ive stay friend midtown castl six day love pla...
1  weve stay 9 night enjoy center citi never slee...
2  wonder stay jennif charm apart organ help woul...
3  hi everyon would say greatest compliment jenni...
4  jennif friendli help place exactli advertis lo...

In [6]:
def insert_into_mysql(df, table_name, connection, chunksize=1000):
    # cursor = connection.cursor()
    for i in range(0, len(df), chunksize):
        chunk = df[i:i+chunksize]
        chunk.to_sql(name=table_name, con=connection, if_exists='append', index=False)
        print(f"\rInserted {(i+chunksize)} rows")

In [17]:
def insert_into_mysql(df, table_name, connection, chunksize=1000):
    # cursor = connection.cursor()
    for i in range(0, len(df), chunksize):
        chunk = df[i:i+chunksize]
        chunk.to_sql(name=table_name, con=connection, if_exists='append', index=False)
        print(f"\rInserted {(i+chunksize)} rows")

engine = create_engine("mysql+mysqlconnector://root:password123@localhost/dmdb")
insert_into_mysql(df, "nltk_filtered", engine, chunksize=10000)

Inserted 10000 rows
Inserted 20000 rows
Inserted 30000 rows
Inserted 40000 rows
Inserted 50000 rows
Inserted 60000 rows
Inserted 70000 rows
Inserted 80000 rows
Inserted 90000 rows
Inserted 100000 rows
Inserted 110000 rows
Inserted 120000 rows
Inserted 130000 rows
Inserted 140000 rows
Inserted 150000 rows
Inserted 160000 rows
Inserted 170000 rows
Inserted 180000 rows
Inserted 190000 rows
Inserted 200000 rows
Inserted 210000 rows
Inserted 220000 rows
Inserted 230000 rows
Inserted 240000 rows
Inserted 250000 rows
Inserted 260000 rows
Inserted 270000 rows
Inserted 280000 rows
Inserted 290000 rows
Inserted 300000 rows
Inserted 310000 rows
Inserted 320000 rows
Inserted 330000 rows
Inserted 340000 rows
Inserted 350000 rows
Inserted 360000 rows
Inserted 370000 rows
Inserted 380000 rows
Inserted 390000 rows
Inserted 400000 rows
Inserted 410000 rows
Inserted 420000 rows
Inserted 430000 rows
Inserted 440000 rows
Inserted 450000 rows
Inserted 460000 rows
Inserted 470000 rows
Inserted 480000 rows
Inserted 490000 rows
Inserted 500000 rows
Inserted 510000 rows
Inserted 520000 rows
Inserted 530000 rows
Inserted 540000 rows
Inserted 550000 rows
Inserted 560000 rows
Inserted 570000 rows
Inserted 580000 rows
Inserted 590000 rows
Inserted 600000 rows
Inserted 610000 rows
Inserted 620000 rows
Inserted 630000 rows
Inserted 640000 rows
Inserted 650000 rows
Inserted 660000 rows
Inserted 670000 rows
Inserted 680000 rows
Inserted 690000 rows
Inserted 700000 rows
Inserted 710000 rows
Inserted 720000 rows
Inserted 730000 rows
Inserted 740000 rows
Inserted 750000 rows
Inserted 760000 rows
Inserted 770000 rows
Inserted 780000 rows
Inserted 790000 rows
Inserted 800000 rows
Inserted 810000 rows
Inserted 820000 rows
Inserted 830000 rows
Inserted 840000 rows
Inserted 850000 rows
Inserted 860000 rows
Inserted 870000 rows
Inserted 880000 rows

In [ ]:

import pandas as pd
import nltk
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer

stemmer = PorterStemmer()
# Tokenize the reviews
nltk.download('punkt')  # Download the tokenizer model
df['Tokens'] = df['comments_without_br'].progress_apply(word_tokenize)

# Define keywords for good, bad, and neutral sentiments
good_words = ['excellent', 'perfectly', 'good','great','lovely','convenient','wonderful','helpful','comfortable','awesome','happy',
              'spacious','positive','super','superb','nice','fantastic','best','satisfied','love','recommend','like','definitely',
              'impressive','topnotch','outstanding','welcome','grateful','trustworthy']
bad_words = ['terrible', 'worst', 'waste', 'not', 'bad','unclean','dirty','old','negative','disappoint','waste','horrible','awful',
             'poor','disgusting','regret','miserable','crappy','disaster','displeased','dislike','unsatisfied','unwelcome','dissatisfaction',
             'upset','annoying']

good_words_stem = [stemmer.stem(word) for word in good_words]
good_words=good_words_stem


bad_words_stem = [stemmer.stem(word) for word in bad_words]
bad_words=bad_words_stem

# Function to classify sentiment based on keywords
def classify_sentiment(tokens):
    good_count = sum(1 for word in tokens if word.lower() in good_words)
    bad_count = sum(1 for word in tokens if word.lower() in bad_words)
    bad_count*= 2

    if good_count > bad_count:
        return True
    else:
        return False

# Apply sentiment classification to each review
df['Sentiment'] = df['Tokens'].progress_apply(classify_sentiment)
df.drop(columns=['Tokens'],inplace=True)

insert_into_mysql(df, "nltk_filtered_with_sentiment", engine, chunksize=10000)

In [27]:
print(bad_words)

['terribl', 'worst', 'wast', 'not', 'bad', 'unclean', 'dirti', 'old', 'neg', 'disappoint', 'wast', 'horribl', 'aw', 'poor', 'disgust', 'regret', 'miser', 'crappi', 'disast', 'displeas', 'dislik', 'unsatisfi', 'unwelcom', 'dissatisfact', 'upset', 'annoy']

In [ ]:
insert_into_mysql(df, "nltk_filtered_with_sentiment", engine, chunksize=10000)

In [ ]:
from textblob import TextBlob
from textblob.sentiments import NaiveBayesAnalyzer,PatternAnalyzer


def getTextBlobSentiment(df1):
    text=df1['comments']
    ploarity=TextBlob(text,analyzer=PatternAnalyzer()).sentiment.polarity
    if(ploarity>0):
        return True
    else: 
        return False



# a=TextBlob(mytext,analyzer=PatternAnalyzer()).sentiment.polarity
df['Sentiment_from_text_blob']=df.progress_apply(getTextBlobSentiment,axis=1)
insert_into_mysql(df, "nltk_filtered_with_sentiment_text_blob", engine, chunksize=10000)

In [8]:

import pandas as pd
import nltk
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer
from  sqlalchemy import create_engine
from tqdm import tqdm
tqdm.pandas(desc="Processing...")

engine = create_engine("mysql+mysqlconnector://root:password123@localhost/dmdb")

query = "SELECT * FROM nltk_filtered_with_sentiment"
df = pd.read_sql(query, engine)

print("df created")
stemmer = PorterStemmer()
# Tokenize the reviews

nltk.download('punkt')  # Download the tokenizer model
df['Tokens'] = df['comments_without_br'].progress_apply(word_tokenize)

# Define keywords for good, bad, and neutral sentiments
good_words = ['excellent', 'perfectly', 'good','great','lovely','convenient','wonderful','helpful','comfortable','awesome','happy',
              'spacious','positive','super','superb','nice','fantastic','best','satisfied','love','recommend','like','definitely',
              'impressive','topnotch','outstanding','welcome','grateful','trustworthy']
bad_words = ['terrible', 'worst', 'waste', 'not', 'bad','unclean','dirty','negative','disappoint','waste','horrible','awful',
             'poor','disgusting','regret','miserable','crappy','disaster','displeased','dislike','unsatisfied','unwelcome','dissatisfaction',
             'upset','annoying']

good_words_stem = [stemmer.stem(word) for word in good_words]
good_words=good_words_stem


bad_words_stem = [stemmer.stem(word) for word in bad_words]
bad_words=bad_words_stem

# Function to classify sentiment based on keywords
def classify_sentiment(tokens):
    good_count = sum(1 for word in tokens if word.lower() in good_words)
    bad_count = sum(1 for word in tokens if word.lower() in bad_words)
    bad_count*= 2
    if good_count ==0 and bad_count==0:
        return 0
    if good_count > bad_count:
        return 1
    else:
        return -1

# Apply sentiment classification to each review
df['Sentiment'] = df['Tokens'].progress_apply(classify_sentiment)
df.drop(columns=['Tokens'],inplace=True)

insert_into_mysql(df, "nltk_filtered_3_class", engine, chunksize=10000)

df created

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\rahul\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
Processing...: 100%|██████████| 875419/875419 [02:11<00:00, 6644.13it/s]
Processing...: 100%|██████████| 875419/875419 [00:18<00:00, 46397.98it/s]

Inserted 10000 rows
Inserted 20000 rows
Inserted 30000 rows
Inserted 40000 rows
Inserted 50000 rows
Inserted 60000 rows
Inserted 70000 rows
Inserted 80000 rows
Inserted 90000 rows
Inserted 100000 rows
Inserted 110000 rows
Inserted 120000 rows
Inserted 130000 rows
Inserted 140000 rows
Inserted 150000 rows
Inserted 160000 rows
Inserted 170000 rows
Inserted 180000 rows
Inserted 190000 rows
Inserted 200000 rows
Inserted 210000 rows
Inserted 220000 rows
Inserted 230000 rows
Inserted 240000 rows
Inserted 250000 rows
Inserted 260000 rows
Inserted 270000 rows
Inserted 280000 rows
Inserted 290000 rows
Inserted 300000 rows
Inserted 310000 rows
Inserted 320000 rows
Inserted 330000 rows
Inserted 340000 rows
Inserted 350000 rows
Inserted 360000 rows
Inserted 370000 rows
Inserted 380000 rows
Inserted 390000 rows
Inserted 400000 rows
Inserted 410000 rows
Inserted 420000 rows
Inserted 430000 rows
Inserted 440000 rows
Inserted 450000 rows
Inserted 460000 rows
Inserted 470000 rows
Inserted 480000 rows
Inserted 490000 rows
Inserted 500000 rows
Inserted 510000 rows
Inserted 520000 rows
Inserted 530000 rows
Inserted 540000 rows
Inserted 550000 rows
Inserted 560000 rows
Inserted 570000 rows
Inserted 580000 rows
Inserted 590000 rows
Inserted 600000 rows
Inserted 610000 rows
Inserted 620000 rows
Inserted 630000 rows
Inserted 640000 rows
Inserted 650000 rows
Inserted 660000 rows
Inserted 670000 rows
Inserted 680000 rows
Inserted 690000 rows
Inserted 700000 rows
Inserted 710000 rows
Inserted 720000 rows
Inserted 730000 rows
Inserted 740000 rows
Inserted 750000 rows
Inserted 760000 rows
Inserted 770000 rows
Inserted 780000 rows
Inserted 790000 rows
Inserted 800000 rows
Inserted 810000 rows
Inserted 820000 rows
Inserted 830000 rows
Inserted 840000 rows
Inserted 850000 rows
Inserted 860000 rows
Inserted 870000 rows
Inserted 880000 rows

In [7]:
insert_into_mysql(df, "nltk_filtered_3_class", engine, chunksize=10000)

Inserted 10000 rows
Inserted 20000 rows
Inserted 30000 rows
Inserted 40000 rows
Inserted 50000 rows
Inserted 60000 rows
Inserted 70000 rows
Inserted 80000 rows
Inserted 90000 rows
Inserted 100000 rows
Inserted 110000 rows
Inserted 120000 rows
Inserted 130000 rows
Inserted 140000 rows
Inserted 150000 rows
Inserted 160000 rows
Inserted 170000 rows
Inserted 180000 rows
Inserted 190000 rows
Inserted 200000 rows
Inserted 210000 rows
Inserted 220000 rows
Inserted 230000 rows
Inserted 240000 rows
Inserted 250000 rows
Inserted 260000 rows
Inserted 270000 rows
Inserted 280000 rows
Inserted 290000 rows
Inserted 300000 rows
Inserted 310000 rows
Inserted 320000 rows
Inserted 330000 rows
Inserted 340000 rows
Inserted 350000 rows
Inserted 360000 rows
Inserted 370000 rows
Inserted 380000 rows
Inserted 390000 rows
Inserted 400000 rows
Inserted 410000 rows
Inserted 420000 rows
Inserted 430000 rows
Inserted 440000 rows
Inserted 450000 rows
Inserted 460000 rows
Inserted 470000 rows
Inserted 480000 rows
Inserted 490000 rows
Inserted 500000 rows
Inserted 510000 rows
Inserted 520000 rows
Inserted 530000 rows
Inserted 540000 rows
Inserted 550000 rows
Inserted 560000 rows
Inserted 570000 rows
Inserted 580000 rows
Inserted 590000 rows
Inserted 600000 rows
Inserted 610000 rows
Inserted 620000 rows
Inserted 630000 rows
Inserted 640000 rows
Inserted 650000 rows
Inserted 660000 rows
Inserted 670000 rows
Inserted 680000 rows
Inserted 690000 rows
Inserted 700000 rows
Inserted 710000 rows
Inserted 720000 rows
Inserted 730000 rows
Inserted 740000 rows
Inserted 750000 rows
Inserted 760000 rows
Inserted 770000 rows
Inserted 780000 rows
Inserted 790000 rows
Inserted 800000 rows
Inserted 810000 rows
Inserted 820000 rows
Inserted 830000 rows
Inserted 840000 rows
Inserted 850000 rows
Inserted 860000 rows
Inserted 870000 rows
Inserted 880000 rows